.animate-before {
  transform: translateY(40px);
  opacity: 0;
  //Elements can't be touchble
  pointer-events: none;
}

.animate-after {
  transform: translateY(-40px);
  opacity: 0;
  pointer-events: none;
}