.grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 252px);
} 

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:nth-child(1){
    margin-top: 0;
  }
  &:nth-child(2){
    margin-top: 160px;
  }
  &:nth-child(3){
    margin-top: 320px;
  }
  &:nth-child(4){
    margin-top: 480px;
  }
  &:nth-child(5){
    margin-top: 320px;
  }
  &:nth-child(6){
    margin-top: 160px;
  }
  &:nth-child(7){
    margin-top: 0;
  }
}

.item {
  width: 236px;
  height: 350px;
  background: $red;
  border-radius: 10px;
}

//Take everything thats not true with the condition in the parentheses
.item:not(:first-child){
margin-top: 16px;
}